<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html lang="en">
<head>
  <meta charset="UTF-8" content="">
  <title>Title</title>
</head>
<body>
<div>
  <form action="/login" method="GET">
    <h1>no way it's login form!</h1>
    Login:<br/><input type="text" name="j_login"><br/>
    Password:<br/><input type="password" name="j_password"><br/>
    <input type="submit" />
    <p><a href="/register">Register new user</a></p>
  </form>
</div>
</body>
</html>
