<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8" content="">
  <title>Title</title>
</head>
<body>
<div>
  <form action="/process-login" method="post">
    <div>
      <input name="username" placeholder="Username" type="text" required/>
    </div>
    <div>
      <input name="passcode" placeholder="Password" type="password" required/>
    </div>
    <input type="submit" value="Log in"/>
<!--    <p th:if="$wrongLogin">Wrong login or password! Try again</p>-->
    <p><a href="/register">Register new user</a></p>
  </form>
</div>
</body>
</html>
