<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8" content="">
    <title>Registration form</title>
</head>
<body>
  <form action="/register", method="GET">
      Login:<br/><input type="text" name="name"><br/>
      Surname:<br/><input type="text" name="surname"><br/>
      Username:<br/><input type="text" name="username"><br/>
      Password:<br/><input type="password" name="password"><br/>
<!--      Role:<br/><input type="text" name="role"><br/>-->
      <input type="submit" />
<!--      <p><a href="/register">Register new user</a></p>-->
  </form>
</body>
</html>